body{
    background-color: gray;
    font-family: Verdana;
  }
  
  .register-page {
    width: 500px;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form {
    background: #FFFFFF;
    padding: 75px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #register-form > input{
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;

  }

  #register-form > input:focus {
    border: 1px solid black
  }
  
  #register-form > button{
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: black;
      width: 100%;
      border: 0;
      padding: 15px;
      color: white;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.4s;
  }

  #register-form button:hover{
    background-color: gray;
  }

  #register-form > h1{
    margin-bottom: 30px ;
  }
  
  .message {
    margin-top: 2rem;
  }