// css reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove underline */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
//NAV-BAR
.navbar-nav .nav-item .nav-tabs {
  text-decoration: none;
  border-bottom: none;
}

.nav-item{
    transition: 0.5s;
    &:hover{
        background-color: black;
        & > a {
            color: white !important;
        }
    }
}

.nav-tabs {
  text-decoration: none;
}

.navbar-nav {
  gap: 1.4em;
}

//gap
#gap_deck{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
#gap_deck2{
  display: flex;
  gap: 0.4em;
}


// Search Bar and Button
#search_div{
  display: flex;

  >#search_bar{
    float: right;
    padding: 6px;
    border: none;
    margin: 0.5em 0 1em 0;
    font-size: 17px;

  }

  >#search_btn{
    width: 5em;
    height: 2.4em;
    margin: 0.5em 0 1em 0;
    border: none;
    transition: 0.5s;
    &:hover{
      background-color: black;
      color: white;
    }
    &:active{
      background-color: white;
      border: 0.1em solid black;
      transform: rotate(360deg);
      color: black;
    }
  }
}
// Mini-icon

.icon-btn{
  width: auto;
  height: auto;
  border: none;
  border-radius: 1em;
  margin: 0;
  padding: 0;
  >.icon-img{
    width: 2em;
    height: 2em;
    background-color: #212F3D;
    border-radius: 1em;
  }
}
.dropbtn {
  background-color: white;
  color: white;
  border: none;  
  width: auto;
  height: auto;
  border: 0.1px solid black;
  border-radius: 1em;
  margin: 0;
  padding: 0;
  >.icon-img{
    width: 2em;
    height: 2em;
  }
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: bisque;
}



// SlideShow
.slideshow-container {
  display: flex;
  width: 100%;
  position: relative;
  height: 30em;
  overflow: hidden;
  margin-left: 2em;
}


.slide {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: opacity 2s ease-in-out;
  >img{
    width: 100%;
    height: 30em;
  }
}

#prevButton{
  z-index: 1;
  height: 4em;
  width: 4em;
  font-size: 1.5em;
  border-radius: 3em;
  border: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  &:hover{
    font-size: 1.3em;
  }

}

#nextButton{
  z-index: 1;
  height: 4em;
  width: 4em;
  font-size: 1.5em;
  border-radius: 3em;
  border: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  &:hover{
    font-size: 1.3em;
  }
}

#wap-button{
  display: flex;
}

.active {
  opacity: 1;
}

#div_boxes{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Gill Sans", sans-serif;


  > #box1 {
    width: 20em;
    height: 8em;
    background-color: #2E86C1;
    color: white;
  }

  > #box2 {
    width: 20em;
    height: 8em;
    background-color: #154360;
    color: white;
  }

  > #box3 {
    width: 20em;
    height: 8em;
    background-color: #283747;
    color: white;
  }


  margin-left: 2em;
  margin-right: 2em;
}

.button-gap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30em;
}

// MOVIE

#about-movie{
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  color: #4163E1;
}

#movie1{
  width: 70em;
  height: 30em;
}

#movie2{
  width: 70em;
  height: 30em;
}

#movie3{
  width: 70em;
  height: 30em;
}
