// css reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove underline */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


//NAV-BAR

#img-logo {
  width: 4em;
  height: 3.5em;
}

.navbar-nav .nav-item .nav-tabs {
  text-decoration: none;
  border-bottom: none;
}

.nav-item{
    transition: 0.5s;
    &:hover{
        background-color: black;
        & > a {
            color: white !important;
        }
    }
}

.nav-tabs {
  text-decoration: none;
  color: black;
}

.navbar-nav {
  gap: 1.4em;
}

//gap
#gap_deck{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
#gap_deck2{
  display: flex;
  gap: 0.4em;
}


// Search Bar and Button
#search_div{
  display: flex;

  >#search_bar{
    float: right;
    padding: 6px;
    border: none;
    margin: 0.5em 0 1em 0;
    font-size: 17px;
    color: black;
    &:focus-visible{
      border-radius: 0;
      color: black;
    }
  }

  >#search_btn{
    width: 5em;
    height: 2.4em;
    margin: 0.5em 0 1em 0;
    border: none;
    transition: 0.5s;
    &:hover{
      background-color: black;
      color: white;
    }
    &:active{
      background-color: white;
      border: 0.1em solid black;
      transform: rotate(360deg);
      color: black;

    }
  }
}
// Mini-icon

.icon-btn{
  width: auto;
  height: auto;
  border: none;
  border-radius: 1em;
  margin: 0;
  padding: 0;
  >.icon-img{
    width: 2em;
    height: 2em;
    background-color: #212F3D;
    border-radius: 1em;
  }
}
.dropbtn {
  background-color: white;
  color: white;
  border: none;  
  width: auto;
  height: auto;
  border: 0.1px solid black;
  border-radius: 1em;
  margin: 0;
  padding: 0;
  >.icon-img{
    width: 2em;
    height: 2em;
  }
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: bisque;
}



// SlideShow
.slideshow-container {
  display: flex;
  width: 100%;
  position: relative;
  height: 30em;
  overflow: hidden;
  margin-left: 2em;
}


.slide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 2s ease-in-out;
  >img{
    width: 100%;
    height: 30em;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

#prevButton{
  z-index: 1;
  height: 4em;
  width: 4em;
  font-size: 1.5em;
  border-radius: 3em;
  border: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  &:hover{
    font-size: 1.3em;
  }

}

#nextButton{
  z-index: 1;
  height: 4em;
  width: 4em;
  font-size: 1.5em;
  border-radius: 3em;
  border: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  &:hover{
    font-size: 1.3em;
  }
}

#wap-button{
  display: flex;
}

#div_boxes{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Gill Sans", sans-serif;


  > #box1 {
    width: 20em;
    height: 8em;
    background-color: #2E86C1;
    color: white;
    cursor: pointer;
  }

  > #box2 {
    width: 20em;
    height: 8em;
    background-color: #154360;
    color: white;
    cursor: pointer;

  }

  > #box3 {
    width: 20em;
    height: 8em;
    background-color: #283747;
    color: white;
    cursor: pointer;

  }



  margin-left: 2em;
  margin-right: 2em;
}

.button-gap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30em;
}

// MOVIE

.about-movie{
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
  color: #4163E1;
}

#movie1{
  width: 70em;
  height: 30em;
}

#movie2{
  width: 70em;
  height: 30em;
}

#movie3{
  width: 70em;
  height: 30em;
}

.movie-information {
  width: 100%;
  padding-left: var(--tw-size-5);
  padding-right: var(--tw-size-5);
  padding-top: var(--tw-size-6);
  padding-bottom: var(--tw-size-6);
  margin-left: auto;
  margin-right: auto;
}

.movie-information > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(var(--tw-size-5) * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(var(--tw-size-5) * var(--tw-space-y-reverse));
}

.movie-information {
  max-width: var(--tw-width-7xl);
}

.movie-information > div {
  display: flex;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding-bottom: var(--tw-size-10);
}

.movie-information > div {
  -moz-column-gap: var(--tw-size-8);
  column-gap: var(--tw-size-8);
  row-gap: var(--tw-size-16);
}





// MOVIE // 
// responsive
@media only screen and (min-width:76.75em) and (max-width: 85.25em) {
  .cardBox {
    font-size: 1em;
    width: 12em !important;
    height: 18em !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20em;
 
    >.card{
      width: 10em;
      height: 15em;
    }
  }
}
@media only screen and (min-width:86.5em) and (max-width: 90em){

  .cardBox {
    font-size: 1em;
    width: 13em !important;
    height: 17em !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20em; 
    >.card{
      width: 10em;
      height: 15em;
    }
    >.card .front .card .back {
      padding: 0;
   }
  }
  
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  // width: 23.7%;
  width: 15em;
  height: 20em;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border: none;

}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}
.cardBox:nth-child(5) .card .back {
  background: pink;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}  


// #movie-container{
//   display: flex;
//   flex-direction: column;
// }

.movie-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#div_footer{
  background-color: #26272b;
  width: 100%;
  height: 20em;
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  // align-items: center;
  h3{
    color: #F2F3F4;
  }
  p{
    color: #616A6B;
    text-align: justify;
  }
  >#about{
    // background-color: red;
    display: flex;
    flex-direction: column;
    width: 40em;
    >#line{
      width: 100%;
      height: 0.1em;
      background-color: #424949;
    }
  }
}

