// css reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove underline */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


//NAV-BAR

#img-logo {
  width: 4em;
  height: 3.5em;
}


.navbar-nav .nav-item .nav-tabs {
  text-decoration: none;
  border-bottom: none;
}

.nav-item{
    transition: 0.5s;
    &:hover{
        background-color: black;
        & > a {
            color: white !important;
        }
    }
}

.nav-tabs {
  text-decoration: none;
  color: black;
}

.navbar-nav {
  gap: 1.4em;
}

//gap
#gap_deck{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
#gap_deck2{
  display: flex;
  gap: 0.4em;
}


// Search Bar and Button
#search_div{
  display: flex;

  >#search_bar{
    float: right;
    padding: 6px;
    border: none;
    margin: 0.5em 0 1em 0;
    font-size: 17px;

  }

  >#search_btn{
    width: 5em;
    height: 2.4em;
    margin: 0.5em 0 1em 0;
    border: none;
    transition: 0.5s;
    &:hover{
      background-color: black;
      color: white;
    }
    &:active{
      background-color: white;
      border: 0.1em solid black;
      transform: rotate(360deg);
      color: black;
    }
  }
}
// Mini-icon

.icon-btn{
  width: auto;
  height: auto;
  border: none;
  border-radius: 1em;
  margin: 0;
  padding: 0;
  >.icon-img{
    width: 2em;
    height: 2em;
    background-color: #212F3D;
    border-radius: 1em;
  }
}
.dropbtn {
  background-color: white;
  color: white;
  border: none;  
  width: auto;
  height: auto;
  border: 0.1px solid black;
  border-radius: 1em;
  margin: 0;
  padding: 0;
  >.icon-img{
    width: 2em;
    height: 2em;
  }
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: bisque;
}

// MOVIE-VIDEO

.movie-container {
  display: flex;
  gap: 3rem;
  
}

#Insidious_4 > iframe {
  margin-left: 2rem;
  height: 30rem;
  width: 57rem
  
}

#Insidious_4 > h3 {
  margin-left: 2rem;
  margin-top: 0.5rem;
}


// DESCRIPTION
.description-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

#description-image > img {
  width: 15rem;
  margin-left: 2rem;
}

#description-info {
  gap: 2rem;
}

#description-info > p {
  font-size: 1.2em;
}

.overflow-scroll {
  max-width: 650px;
  max-height: 300px;
  word-wrap: break-word;
  overflow-y: scroll;
}

// footer

#div_footer{
  background-color: #26272b;
  width: 100%;
  height: 20em;
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  // align-items: center;
  h3{
    color: #F2F3F4;
  }
  p{
    color: #616A6B;
    text-align: justify;
  }
  >#about{
    // background-color: red;
    display: flex;
    flex-direction: column;
    width: 40em;
    >#line{
      width: 100%;
      height: 0.1em;
      background-color: #424949;
    }
  }
}
